@import "codeowners";

.td-main main {
  padding-right: 3rem !important;
}

.td-sidebar-toc {
  @extend .td-sidebar-nav;
}

.td-navbar .nav-link {
  white-space: nowrap;
}

.table thead th,
.td-content > table thead th,
.td-box .row.section > table thead th {
  white-space: nowrap;
}

.section-index .entry {
  .section-summary-content {
    margin-top: .5rem;
  }
}

.td-content > .td-byline {
  max-width: 80%;
}

.card-body {
  padding: 0;
  margin: 1rem 0;

  > .card-text:empty, > p:empty {
    margin: 0;
  }
}

.card-deck {
  margin-bottom: $card-group-margin * 2;
}
