$primary: #6e49cb;
$secondary: #fca121;
$success: #28a745;
$warning: #ffc107;

$border-radius: .25rem;
$grid-gutter-width: 20px;

$display1-size: 4.5rem !default;

.deck-center {
  margin: 0 auto !important;
}

.card-padding {
  padding: 0em 2em !important;
}

.fyi-padding {
  padding-top: 2em !important;
}

.home-section-h {
  padding: 2em !important;
}

.bg-primary p > a, h3 > a {
  color: $secondary !important;
}

h3 > a > sup {
  font-size: 0.4em;
  padding-left: 0.5em;
  top: -1em;
}

.data-yellow {
  color: $warning;
  font-weight: 800;
}
