{{/*  https://github.com/google/docsy/main/layouts/shortcodes/card.html  */}}
<div class="card">
  {{ with $.Get "header" }}
    <div class="card-header">
      {{ if eq $.Page.File.Ext "md" }}
        {{ $.Get "header" | markdownify }}
      {{ else }}
        {{ $.Get "header" | htmlUnescape | safeHTML }}
      {{ end }}
    </div>
  {{ end }}
  <div class="card-body">
    {{ with $.Get "title" }}
      <h5 class="card-title">
        {{ if eq $.Page.File.Ext "md" }}
          {{ $.Get "title" | markdownify }}
        {{ else }}
          {{ $.Get "title" | htmlUnescape | safeHTML }}
        {{ end }}
      </h5>
    {{ end }}
    {{ with $.Get "subtitle" }}
      <h6 class="card-title mb-2 text-muted">
        {{ if eq $.Page.File.Ext "md" }}
          {{ $.Get "subtitle" | markdownify }}
        {{ else }}
          {{ $.Get "subtitle" | htmlUnescape | safeHTML }}
        {{ end }}
      </h6>
    {{ end }}
    {{ with $.Inner }}
      <div class="card-text">
        {{ if eq $.Page.File.Ext "md" }}
          {{ $.Inner | markdownify }}
        {{ else }}
          {{ $.Inner | htmlUnescape | safeHTML }}
        {{ end }}
      </div>
    {{ end }}
  </div>
  {{ with $.Get "footer" }}
    <div class="card-footer">
      {{ if eq $.Page.File.Ext "md" }}
        {{ $.Get "footer" | markdownify }}
      {{ else }}
        {{ $.Get "footer" | htmlUnescape | safeHTML }}
      {{ end }}
    </div>
  {{ end }}
</div>
